# Data
data/

# Large pix_mapping files
pix_mapping/pix_irt_outcome.pt
pix_mapping/pix_processed.csv
pix_mapping/results_certif.csv

# Heavy notebooks
notebooks/ktm_gaussian_animation.executed.ipynb
notebooks/efa_competence.ipynb
notebooks/efa_per_competence.ipynb

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# OS
.DS_Store
